.sobre{
    background-color: #000;
    height: 480px;
    text-align: center;
    color: #FFF;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-weight: bold;
        font-size: 2.2em;
        padding-bottom: 5px;
        font-family: $font-bebas;
    }

    .sobre--barra{
        border: 3px solid #FFF;
        width: 3%;
        border-radius: 10px;
    }

    .container__sobre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 370px;

        .container__sobre--infos{
            height: 350px;
            width: 40%;
            display: flex;
            align-items: center;
            
            p{
                font-size: 1.8em;
                font-weight: bold;
                font-family: $font-bebas;
                padding: 0px 25px;

            }

        }

        .container__sobre--img{
            height: 350px;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                height: 300px;
                width: 350px;
            }

        }
    }
}