@media (max-width: 820px) {
    .container__inicio{
        flex-direction: column;
        
        .container__inicio--img{
            display: none;
            
        }
        .container__inicio--infos{
            padding: 30px 30px;

        }


    }
}