@media (max-width: 901px) {
    .container__inicio{
        flex-direction: column;
        
        .container__inicio--img{
            display: none;
            
        }
        .container__inicio--infos{
            padding: 30px 30px;

        }


    }
}

@media (max-width: 1032px) {
    .container__inicio{
        justify-content: center;
    
        .container__inicio--infos{
            padding: 0px;
        }
    }

}

@media (min-width: 1200px ) {
    .container__inicio {
        justify-content: space-evenly; 
        
        .container__inicio--infos{
        width: 40%;
        .container__inicio--nav{
            padding: 0px;
        }

    }
}
} 