@media (max-width: 820px){
    .servicos{
        padding: 35px 5px;

        p{
            font-size: 1.5Sem;
            
        }

        .container__card{
            .container__card--cards{
                width: auto;

                .face.face2 {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .servicos{
        .container__card{
            .container__card--cards{
                width: 80%;

                .face.face1{
                    width: auto;
                }

                .face.face2 {
                    transform: translateY(0);
                    width: auto;
                    height: 250px;

                    .conteudo{
                        p{
                            margin-bottom: 5px;
                            font-size: 1.1em;
                        }

                    }
                }
            }
        }
    }
}