.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
    height: auto;
    h3{
        font-weight: bold;
        font-size: 2.2em;
        padding-bottom: 5px;
        color: $cor-texto-azul;
        font-family: $font-bebas;
    }
    
    .servicos--barra{
        border: 3px solid #000;
        width: 3%;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    p{
        font-size: 1.8em;
        max-width: 60%;
        font-family: $font-bebas;
        font-weight: bold;
    }

    .container__card{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 25px;
        position: relative;
        width: 100%;
        flex-wrap: wrap;



        .container__card--cards{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            

            &:hover .face.face2 {
                transform: translateY(0);  
            }

            .face {
                width: 400px;
                height: 230px;
                transition: 0.5s;
                border-radius: 5px;
            }
            .face1{
                position: relative;
                background-color: $cor-texto-azul;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(5px);
                transition: 1s ease-in-out;
                margin-top: 30px;

            }

            
           
            .conteudo{
                transition: 0.5s;

                span{
                    font-size: 1.8em;
                    font-family: $font-bebas;
                    font-weight: bold;
                    color: white;
                    border-bottom: 2px solid white;
                }
            }

           .face.face2{
                position: relative;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-175px);
                transition: 1s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
               

                p{
                    font-size: 1.3em;
                    max-width: 100%;
                    margin-bottom: 40px;
                    padding: 18px 10px;
                }
                a{
                    border-radius: 8px;
                    padding: 5px 65px;
                    text-decoration: none;
                    color: $cor-texto-azul;
                    font-family: $font-bebas;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;                    
                    transition: 1s ease-in-out;

                    &:hover{
                        background-color: black;
                        border: 1px solid $cor-texto-azul;
                    }
                }
            }
            
        }


    }
    

  



}



